.barcodeScannerContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 1rem;
  padding: 1rem;
}

.videoWindow {
  border: 4px solid #89b9d7;
  width: 14rem;
  height: 10.5rem;
  border-radius: 10px;
  transition: border-color 0.3s ease;
}
